<!DOCTYPE html>
<head>
    <title>Hello</title>
</head>
<body>hello</body>
<form>
    <input type="text" name="login" value="{{login}}"/>
    <input type="text" name="password" value="{{password}}"/>
</form>
</html>
